.list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
  background-color: aquamarine;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --team-background-color: #f5f4fa;
  --portfolio-btn-back-color: #f5f4fa;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
/*########## HEADER ############*/
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-list {
  margin-top: 0;
  margin-bottom: 0;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.accent {
  color: var(--accent-color);
}
.menu-link {
  color: var(--main-color);
}
.contact-link {
  color: var(--secondary-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.studio {
  color: var(--accent-color);
}
.portfolio {
  color: var(--accent-color);
}

/*########## MAIN ############*/
/*########## HERO ############*/
.hero {
  background-color: var(--hero-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--btn-text-color);

  margin-top: 0;
  margin-bottom: 30px;
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 32px;
}
.container-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
}
/*########## ABOUT US ############*/
.about {
  margin-bottom: 94px;
}
.about-us {
  margin-top: 0;
  margin-bottom: 0;
}
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 10px;
}
.about-us-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 0;
}
/*########## OUR WORK ############*/
.works {
  margin-bottom: 94px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
/*########## OUR TEAM ############*/
.card {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;

  background: var(--btn-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team {
  background-color: var(--team-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-team {
  margin-bottom: 50px;
}
.team-img {
  margin-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 30;
}
/*########## FOOTER ############*/
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.link-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
}
.address {
  margin-top: 20px;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
}
.margin {
  margin-bottom: 9px;
}
.contacts-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/*########## PORTFOLIO (PAGE) ############*/
.hidden {
  visibility: hidden;
}
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-btn-back-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}

.portfolio-btn-all {
  color: #ffffff;
  background-color: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.portfolio-card {
  background-color: var(--btn-text-color);
}
